<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tissini App - Braintree Test</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/_bootswatch.scss">
    <script src="https://js.braintreegateway.com/web/dropin/1.24.0/js/dropin.min.js"></script>
    <script src="https://pay.google.com/gp/p/js/pay.js"></script>
    <script src="https://js.braintreegateway.com/web/3.67.0/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.67.0/js/google-payment.min.js"></script>
    <script src="https://js.braintreegateway.com/web/dropin/1.24.0/js/dropin.min.js"></script>
</head>
<body>
    
    {{{ body }}}
    
</body>
</html>
